<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h1 class="text-center mt-5">We Are on the Dashboard Page!!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <canvas class="d-inline" id="myChart" width="400" height="400"></canvas>
            <canvas class="d-inline" id="mySecondChart" width="400" height="400"></canvas>
            <canvas class="d-inline" id="myThirdChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<%- include("partials/footer") %>