<%- include("partials/header") %>

        <div class="jumbotron">
                <div class="container">
                        <h1>We Are On the Home Page!</h1>
                        <a href="http://google.com">Link to Google</a>
                        <a href="#" class="button btn btn-secondary" role="button">Get Started!</a>
                </div>
        </div>
        <div class="container d-flex justify-content-center">
                <img class="pomsky img-fluid" src="https://photos.puppyspot.com/3/listing/629673/photo/5359463_large-resize.jpg">
        </div>
        

<%- include("partials/footer") %>
