<%- include("partials/header") %>
<!-- <%- include("partials/navbar") %> -->

   <nav class="main navbar navbar-expand-lg sticky-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
         </li>
      </ul>
      </div>
   </nav>

   <header>
      <div class="jumbotron-fluid">
         <div class="container">     
         <h1>We Are On the Home Page!</h1>
         <a href="http://google.com">Link to Google</a>
         <a href="#" class="button btn btn-secondary" role="button">Get Started!</a>   
         </div>
      </div>
   </header>
   
   <div class="container d-flex justify-content-center">
      <img class="pomsky img-fluid" src="https://photos.puppyspot.com/3/listing/629673/photo/5359463_large-resize.jpg">
   </div>
        

<%- include("partials/footer") %>
