<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div id="container" class="container">
    <div class="row">
        <div class="col px-0">
            <h1 class="todoListHeader py-1 px-3">To-Do-List<i class="fas fa-plus"></i></h1>
            <input class="todoListInput" type="text" placeholder="Add New Task">
            <ul id="todoList">
                <li class="todoItem"><span><i class="far fa-trash-alt"></i></span> Walk the dog</li>
                <li class="todoItem"><span><i class="far fa-trash-alt"></i></span> Walk the dog</li>
                <li class="todoItem"><span><i class="far fa-trash-alt"></i></span> Walk the dog</li>
            </ul>
        </div>
    </div>
</div>


<%- include("partials/footer") %>