<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div id="container" class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>To-Do-List</h1>
            <input type="text">
            <ul>
                <li><span>X</span>Walk the dog</li>
                <li><span>X</span>Walk the dog</li>
                <li><span>X</span>Walk the dog</li>
            </ul>
        </div>
    </div>
</div>


<%- include("partials/footer") %>