body {
  /* padding: 50px; */
  font: "Roboto", Helvetica, Arial, sans-serif;
  background: #F7FFF7 !important;
  box-sizing: border-box;
  color: #292F36;
}

.btn-primary {
  background-color: #4ECDC4 !important;
  border-color: #4ECDC4 !important;
}

.btn-secondary {
  background-color: #FFE66D !important;
  border-color: #FFE66D !important;
  color: #292F36 !important;
}
/* navbar styling */
.navbar-expand-lg {
  color: #292F36 !important;
  background-color: #FF6B6B !important;
}

.navbar-toggler {
  border: 1px solid  #292F36 !important;
}

/* home page styling */
a {
  color: #ece2e2;
}

img.pomsky {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  max-width: 500px;
  max-height: 500px;
  margin-top: 3%;

}

.jumbotron-fluid {
  background-color: #4ECDC4;
  max-width: 100%;
  max-height: auto;
  height: 250px;
}


/* Register page styling */
form {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #FFE66D;
}

/* Todo Page styling */
span {
  background: #FF6B6B;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: #F7FFF7;
  width: 0;
  display: inline-block;
  transition: 0.25s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

.fa-plus {
  float: right;
}

.todoListHeader {
  background:  #4ECDC4;
  width: 385px;
  margin: 0;
  color: #292F36;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.todoListInput {
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0);
  color: #4ECDC4;
  background:#f5f7f7;
  font-size: 18px;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
}

.todoListInput:focus {
  background:#F7FFF7;
  border: 3px solid #4ECDC4;
  outline: none;
}

#todoList {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#todoList li {
  background: #FFE66D;
  height: 40px;
  line-height: 40px;
  /* color: #292F36; */
}

#todoList li:nth-child(2n) {
  background: #F7FFF7;
}

.completed {
  color: #FF6B6B;
  text-decoration: line-through;
}

#container {
  width: 385px;
  margin: 7% auto;
  background: #FFE66D;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Dashboard Styling */
#myChart {
  max-width: 400px;
  max-height: 400px;
}

#mySecondChart {
  max-width: 400px;
  max-height: 400px;
}

#myThirdChart {
  max-width: 400px;
  max-height: 400px;
}



