body {
  /* padding: 50px; */
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F7FFF7 !important;
  box-sizing: border-box;
  color: #292F36;
}

.btn-primary {
  background-color: #4ECDC4 !important;
  border-color: #4ECDC4 !important;
}

.btn-secondary {
  background-color: #FFE66D !important;
  border-color: #FFE66D !important;
  color: #292F36 !important;
}
/* navbar styling */
.navbar-expand-lg {
  color: #292F36 !important;
  background-color: #FF6B6B !important;
}

.navbar-toggler {
  border: 1px solid  #292F36 !important;
}

/* home page styling */
a {
  color: #ece2e2;
}

img.pomsky {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  max-width: 500px;
  max-height: 500px;
  margin-top: 3%;

}

.jumbotron-fluid {
  background-color: #4ECDC4;
  max-width: 100%;
  max-height: auto;
  height: 250px;
}


/* Register page styling */
form {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #FFE66D;
}

/* Todo Page styling */
.completed {
  color: green;
  text-decoration: line-through;
}

#container {
  border: 2px solid gray;
  width: 385px;
}



