body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F7FFF7;
  box-sizing: border-box;
}

a {
  color: #ece2e2;
}

img.pomsky {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  max-width: 500px;
  max-height: 500px;

}

h1 {
  
}

.jumbotron {
  background-color: #4ECDC4;
}